.container {
    background-color: #f2f2f2;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.main-container {
    height: 100vh;
}

body {
    background-color: #e6e6e6;
    margin: 0;
}

.col {
    padding: 50px;
}

