@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

button {
  outline: none;
}


.navbar-height {
  height: 80px;
}

.navbar-brand {
  font-size: 30px;
  color: #ff9a00;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.navbar {
  background-color: #2b3137;
}

li {
  margin: 5px;
}

a {
  color: white;
  outline: none;
  text-decoration: none;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: #ff9a00;
  border-color: #ff9a00;
}

.navbar-nav {
  display: flex;
}





