



<body>

  <br>
  <div class="container">
    <h3 class="display-4">{{adminDetails?.region}}</h3>
    <hr>



    <div>
      <div class="map-and-driver-list-parent">
        <div class="map-of-parent">
          <app-maps 
            [dustbinsData]="dustbinsLocation" 
            [areaLatitude]="adminDetails?.location.lat" 
            [areaLongitude]="adminDetails?.location.lng">
            <!-- [origin]="origin"
            [destination]="destination"
            [waypoints]="dustbinsLocationForCollection" -->
          </app-maps>
        </div>
        <div class="list-of-drivers overflow-auto" style="display: flex;">

          <div style="margin: auto;">
            <p *ngIf="driversByRegion.length === 0"><strong>This region has no assigned drivers</strong></p>
          </div>
          <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let driver of driversByRegion">
              <div class="d-flex justify-content-between">
                <h5 class="mb-1">{{ driver.name }}</h5>
                <small>{{ driver.region }}</small>
              </div>
              <p class="mb-1">Capacity: <strong>{{driver.capacity}}</strong></p>
              <div style="display: flex;">
                <div style="flex: 1;">
                  <small>Phone: {{driver.cellNo}}</small>  
                </div>
                <div>
                  <button mat-stroked-button color="basic" *ngIf="!isRouteApplied" (click)="onClickApplyRoute()">Apply Route</button>
                  <button mat-raised-button color="warn" *ngIf="isRouteApplied" (click)="onClickCancelRoute()">Cancel Route</button>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
      <hr>
      <div class="parent-flex">
        <div class="childflex1">

        </div>

        <div class="childflex2">
          <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="openAddDriverForm()">Add Driver</button>
        </div>

        <div class="childflex3">
          <button mat-raised-button color="accent" (click)="openAddDustbinForm()">Add Dustbin</button>
        </div>

      </div>

    </div>
  </div>


</body>
