.container {
    background-color: #f2f2f2;
    height: 92%;
    padding: 70px;
    border-radius: 15px;
    padding-top: 40px;
}


body {
    background-color: #e6e6e6;
    height: 800px;
}

button {
    outline: none;
}

.parent-flex {
    display: flex;
}

.childflex1 {
    flex: 1;
}