<!-- <div class="showCase">
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <h1 class="display-4"><strong>Waste Management System </strong></h1>
  <h4><strong>smart waste management system will manage your trash ! </strong></h4>
  <button class="btn btn-success">Get Started</button>
</div>


<body>

  <div id="boxes">
    <div class="container">
      <div class="box border">
        <h3>box1</h3>
        <p>b1</p>
      </div>
      <div class="box border">
        <h3>box1</h3>
        <p>b1</p>
      </div>
      <div class="box border">
        <h3>box1</h3>
        <p>b1</p>
      </div>
    </div>
  </div>

</body>


<div class="footer">
  <p>SWMS, Copyright &copy; 2020</p>
</div> -->

<h1>Homepage</h1>
