<div>

  <div class="borderOfMap border-dark">
    <agm-map #gm (mapReady)="onMapReady($event)" [latitude]="latitude" [longitude]="latitude" [zoom]="zoom">

      <agm-direction *ngFor="let route of routeAssignedList" 
       [origin]="route?.dustbinsAssigned[0].location"
       [destination]="route?.dustbinsAssigned[routeAssignedList[0]?.dustbinsAssigned?.length - 1]?.location"
       [waypoints]="route?.dustbinsAssigned"
       [renderOptions]="customRenderOptions"
      ></agm-direction>
      
      <agm-marker *ngFor="let dustbinData of dustbinsData"
        [latitude]="dustbinData.location.lat"
        [longitude]="dustbinData.location.lng"
        (mouseOver)="onMouseOver(infoWindow, gm)"
        (mouseOut)="onMouseOut(infoWindow, gm)"
        [iconUrl]="customIconUrl"
      >

        <agm-info-window #infoWindow>
          <div style="margin-bottom: 10px;">
            <h5><kbd>Details</kbd></h5>
          </div>
          <div>
            <p><strong>Dustbin ID: </strong>{{ dustbinData.id }}</p>
            <p><strong>Region: </strong>{{ dustbinData.region }}</p>
            <p><strong>Address: </strong>{{ dustbinData.address }}</p>
            <p><strong>Status: </strong><kbd>{{ dustbinData.status }}</kbd></p>
          </div>
        </agm-info-window>

      </agm-marker>

    </agm-map>
  </div>

</div>
