<div>

  <div class="borderOfMap border-dark">
    <agm-map #gm (mapReady)="onMapReady($event)" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">

      <agm-direction *ngFor="let route of routeAssignedList" [origin]="route?.origin.location"

        [destination]="route?.destination.location" [waypoints]="route?.dustbinsAssigned"
        [renderOptions]="route?.customRenderOptions">

        <agm-marker *ngFor="let markDustbinWithAssignedRoute of route?.dustbinsAssigned"
          [latitude]="markDustbinWithAssignedRoute?.location.lat"
          [longitude]="markDustbinWithAssignedRoute?.location.lng">
        </agm-marker>

      </agm-direction>


      <agm-marker *ngFor="let dustbinData of dustbinsData" [latitude]="dustbinData.location.lat"
        [longitude]="dustbinData.location.lng" (mouseOver)="onMouseOver(infoWindow, gm)"
        (mouseOut)="onMouseOut(infoWindow, gm)" [iconUrl]="customIconUrl">

        <agm-info-window #infoWindow [disableAutoPan]="true">
          <div>
            <div style="margin-bottom: 10px;">
              <h5><kbd>Details</kbd></h5>
            </div>
            <div>
              <p><strong>Dustbin ID: </strong>{{ dustbinData.id }}</p>
              <p><strong>Region: </strong>{{ dustbinData.region }}</p>
              <p><strong>Address: </strong>{{ dustbinData.address }}</p>
              <p><strong>Status: </strong><kbd>{{ dustbinData.status }}%</kbd></p>
            </div>
          </div>
        </agm-info-window>

      </agm-marker>

    </agm-map>
  </div>

</div>