.super-admin-container {
  background-color: #f2f2f2;
  padding: 70px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card {
  width: 18rem;
}

mat-expansion-panel {
  margin-top: 30px;
}

.region-header {
  display: flex;
}

.region-title {
  flex: 1;
}

body {
  height: 100%;
  background-color: #e6e6e6;
}

.action-button {
  margin-left: 20px;
  margin-right: 20px;
}

.action-button-moredetails {
  margin-top: 10px;
  height: 60%;
}

button {
  outline: none;
}
